<a href="https://colab.research.google.com/github/Bae-ChangHyun/Bae-ChangHyun/blob/main/%EB%94%B0%EB%A6%89%EC%9D%B4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%98%88%EC%B8%A1%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

라이브러리 불러오기

In [1]:
import pandas as pd

데이터 불러오기

In [2]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-12-01 13:59:53--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2021-12-01 13:59:54--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 108.177.119.100, 108.177.119.113, 108.177.119.138, ...
Connecting to drive.google.com (drive.google.com)|108.177.119.100|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/eadtd389s9sec4dpmomihha1bg3579ae/1638367125000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-12-01 13:59:54--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/eadtd389s9sec4dpmomihha1bg3579ae/1638367125000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 108.177.119.132, 2a00:1450:4013:c00::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|108.177.119.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2021-12-01 13:59:55 (145 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

In [3]:
import pandas as pd

# 정답 코드
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

행,열 갯수 관찰하기

In [4]:
train.shape
test.shape

(715, 10)

파이썬 데이터 일부 확인하기

In [6]:
train.head(100)

     id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0     3    20                  16.3  ...           76.0            33.0   49.0
1     6    13                  20.1  ...           73.0            40.0  159.0
2     7     6                  13.9  ...           32.0            19.0   26.0
3     8    23                   8.1  ...           75.0            64.0   57.0
4     9    18                  29.5  ...           27.0            11.0  431.0
..  ...   ...                   ...  ...            ...             ...    ...
95  142    19                  25.0  ...           41.0            23.0  252.0
96  144    22                  14.3  ...           60.0            45.0  108.0
97  145    11                  23.3  ...           63.0            33.0  104.0
98  146    19                  17.8  ...           83.0            47.0  204.0
99  148    12                  18.6  ...           74.0            43.0  116.0

[100 rows x 11 columns]

결측치 확인하기

In [7]:
print(train.isnull())
print('\n--------------------------------train.csv 각 열 별 결측치 수--------------------------------\n')
print(test.isnull().sum())

         id   hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0     False  False                 False  ...          False           False  False
1     False  False                 False  ...          False           False  False
2     False  False                 False  ...          False           False  False
3     False  False                 False  ...          False           False  False
4     False  False                 False  ...          False           False  False
...     ...    ...                   ...  ...            ...             ...    ...
1454  False  False                 False  ...          False           False  False
1455  False  False                 False  ...          False           False  False
1456  False  False                 False  ...          False           False  False
1457  False  False                 False  ...          False           False  False
1458  False  False                 False  ...          False           False  False

[1459 rows x 11 columns]

--------------------------------train.csv 각 열 별 결측치 수--------------------------------

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

데이터 전처리

In [8]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [9]:
train = train.dropna()
test = test.fillna(0)

의사결정나무 모델 설정

In [17]:
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor

https://scikit-learn.org/stable/

In [18]:
model = DecisionTreeClassifier()

In [19]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']

In [20]:
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor()

X 데이터는 예측에 사용되는 변수이고, Y 데이터는 예측결과 변수다

# 데이터 예측하기

In [21]:
pred = model.predict(test)
pred[:5]

array([106., 164., 121.,  49.,  64.])

In [22]:
submission = pd.read_csv('data/submission.csv')

In [23]:
submission['count'] = pred

In [24]:
submission.to_csv('sub.csv',index=False)